.main-wrapper {
    background-color: #001353;
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* box-shadow: 1px 1px 5px 5px #001353; */

}

.welcome-title {
color: white !important;
margin: 0px !important;
}

.post-btn {
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    border: none;
    color: #001353;
    border-radius: 5px;
    cursor: pointer;
}