.main-wrapper {
    background-color: #7B7B7C;
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
color: white;
margin: 0px !important;
}

.post-btn {
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    border: none;
    color: #7B7B7C;
    border-radius: 5px;
}