.card-wrapper {
    border: 2   px solid #001353;
    box-shadow: 2px solid;
    position: relative  ;
     margin: 20px 0px 20px 0px;
}

.img-wrapper {
    height: 150px;
    width: 80px;
}

.content-wrapper {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
}

p {
    display: inline;
    font-size: 14px;
   
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10;
    padding: 10px;
    margin: 10px;
}

.cart-btn {
    position: absolute;
    right: 12px;
    height: 29px;
    top: 23px;
    width: 95px;
    background-color: #001353;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.count-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.count {
    margin: 0px;
}

